*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: url("fundotela.jpg");
}

div{
    width: 500px;
    height: 410px;
    background-color: whitesmoke;
    opacity: 0.850;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
    border-radius: 10%;
    text-align: center;
}

h1{
    color: darkslategrey;
    font-size: 200%;
    font-family: sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input{
    width: 70%;
    height: 40px;
    border-radius: 5px;
}

button{
    width: 25%;
    border-radius: 50px;
    height: 35px;
}